* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* reset rule */

/* nav */
nav {
    border-style: dotted;
    /* test */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    padding: 15px 30px 15px 30px;

    background-color: #0084fd;
    color: white;
}

.logo {
    width: 80px;
    height: 40px;
}

nav a {
    color: white;
    font-size: 23px;
}

/* end nav  */



/* demo app */
#demo-app {
    border-style: dashed;
    /* test */
    width: 100vw;
    height: auto;

    padding: 50px 30px 50px 30px;

    /* test */
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.light-rounded-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 30px 40px 30px;
    border-radius: 10px;
    background-color: #b5ddff;
}

.double-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 30px 0px 30px;
    border-radius: 10px;
    background-color: #b5ddff;

}

.double-box img {
    width: 100%;
    max-width: 200px;
}

.light-rounded-box a {
    font-size: 50px;
    color: #0084fd;
}

.light-rounded-box img {
    width: 100%;
    max-width: 200px;
}


/* end demo app */



/* strategic plan section */
#strategic-plan {
    border-style: dashed;
    /* test */
    padding: 50px 30px 50px 30px;
    background-color: #9792e4;
}

#strategic-plan img {
    width: 100%;
    max-width: 450px;
}

.heavy-rounded-box {
    border-style: dotted;
    /* test */
    padding: 30px 20px 30px 20px;
    border-radius: 30px;
    background-color: white;
}

/* end strategic plan section */




/* testimonials section */
#testimonials {
    border-style: dotted;
    /* test */
    display: flex;
    flex-direction: column;
    row-gap: 55px;
    padding: 30px 20px 30px 20px;
}

#testimonials div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#testimonials .heavy-rounded-box {
    border-style: dotted;
    /* test */
    text-align: center;
    background-color: #9792e4;
}

#testimonials .testimonial-pic {
    padding: 30px;
}

#testimonials img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

/* end testimonial section */




/* working with us section */
#working-with-us {
    border-style: dotted;
    /* test */
    padding: 30px 20px 65px 20px;
    background-color: #9792e4;

}

#working-with-us .title-box {
    display: flex;
    justify-content: center;
    padding: 70px 0px 70px 0px;
}

#grid-container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

#working-with-us .light-rounded-box {
    background-color: white;
}

#working-with-us .light-rounded-box h3 {
    padding: 20px;
}

#working-with-us .light-rounded-box h4 {
    padding: 20px;
}

#working-with-us .light-rounded-box p {
    padding: 20px;
}

#working-with-us .light-rounded-box button {
    padding: 20px;
}

/* end working with us section */





/* about us section */
#about-us {
    border-style: dotted;
    /* test */
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 30px 20px 30px 20px;
}

#about-us img {
    width: 200px;
    border-radius: 50px;
}

/* end about us section */




/* get started section */
#get-started {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px 20px 30px 20px;
    background-color: #9792e4;
}

/* end get started section */





/* footer */
footer {
    padding: 30px 20px 30px 20px;
    background-color: #333333;
    text-align: center;

}

footer p {
    color: white;
}

footer a {
    color: #9792e4;
}

/* end footer */



/* ------------------------ */
/* ------ RESPONSIVE ------ */
/* ------------------------ */

/* ------------------------ */
/* --------- 768px -------- */
/* ------------------------ */


@media screen and (min-width: 768px) and (max-width: 992px) {
    #demo-app .container {
        border-style: dotted;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #demo-app .light-rounded-box {
        width: calc(100%/3);

    }

    .double-box {
        border-style: dotted;
        /* test */
        display: flex;
        align-items: flex-start;
        text-align: left;
        width: calc(100%/3*2);
        padding: 40px 30px 0px 30px;
        border-radius: 30px;
        background-color: #b5ddff;
    }

    .double-box img {
        width: 100%;
        max-width: 200px;
    }

    #strategic-plan .container div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #strategic-plan .container .heavy-rounded-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #testimonials div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    #testimonials .heavy-rounded-box {
        display: flex;
    }

    #testimonials .heavy-rounded-box div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;


    }

    #working-with-us #grid-container {
        flex-wrap: wrap;
        flex-direction: row;
    }

    #working-with-us #grid-container .light-rounded-box {
        width: calc(100%/2);
    }

    /* ------------------------ */
    /* ------ end 768px ------- */
    /* ------------------------ */