* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* reset rule */

/* nav */
nav {
    border-style: dotted;
    /* test */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    padding: 15px 30px 15px 30px;

    background-color: #0084fd;
    color: white;
}

.logo {
    width: 80px;
    height: 40px;
}

nav a {
    color: white;
    font-size: 23px;
}

/* end nav  */



/* demo app */
#demo-app {
    border-style: dashed;
    /* test */
    width: 100vw;
    height: auto;

    padding: 50px 30px 50px 30px;

    /* test */
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.light-rounded-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 30px 40px 30px;
    border-radius: 10px;
    background-color: #b5ddff;
}

.light-rounded-box a {
    font-size: 50px;
    color: #0084fd;
}

.light-rounded-box img {
    width: 100%;
}


/* end demo app */



/* strategic plan section */
#strategic-plan {
    border-style: dashed;
    /* test */
    padding: 50px 30px 50px 30px;
    background-color: #9792e4;
}

#strategic-plan img {
    width: 100%;
}

.heavy-rounded-box {
    border-style: dotted;
    /* test */
    padding: 30px 20px 30px 20px;
    border-radius: 30px;
    background-color: white;
}

/* end strategic plan section */




/* testimonials section */
#testimonials {
    border-style: dotted;
    /* test */
    display: flex;
    flex-direction: column;
    row-gap: 55px;
    padding: 30px 20px 30px 20px;
}

#testimonials .heavy-rounded-box {
    border-style: dotted;
    /* test */
    text-align: center;
    background-color: #9792e4;
}

#testimonials .testimonial-pic {}

#testimonials img {
    width: 200px;
    border-radius: 50px;
}

/* end testimonial section */




/* working with us section */
#working-with-us {
    border-style: dotted;
    /* test */
    padding: 30px 20px 30px 20px;
    background-color: #9792e4;

}

#grid-container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

#working-with-us .light-rounded-box {
    background-color: white;
}

/* end working with us section */